@import "~normalize.css";

@import "header";
@import "toolbar";
@import "function";
@import "table";
@import "dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}